[Unit]
Description=Xsettings daemon
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/xsettingsd
Restart=on-failure

[Install]
WantedBy=default.target
