configuration {
    modi: "drun,run,window";
    display-drun: "";
    display-run: "";
    display-window: "";
    show-icons: true;
    icon-theme: "Adwaita";
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 10";
}

@theme "current-theme"
