#!/bin/sh
set -eu

# Rebuild when this script or the embedded patch changes.
st_commit=6e970474743d57a5d8b054c41fd3bff2bc895742
build_dir="$(mktemp -d)"
trap 'rm -rf "$build_dir"' EXIT HUP INT TERM

git clone --quiet https://git.suckless.org/st "$build_dir/st"
git -C "$build_dir/st" checkout --quiet "$st_commit"

scrollback_patch="$build_dir/st-scrollback-0.9.2.diff"
curl -fsSL \
	https://st.suckless.org/patches/scrollback/st-scrollback-0.9.2.diff \
	-o "$scrollback_patch"
echo "8db63bf83df06cba12cdb02e578cb49afc789c726b4c85f66e95b372562bac7a  $scrollback_patch" \
	| sha256sum -c -
patch -d "$build_dir/st" -p1 < "$scrollback_patch"

glyph_patch="$build_dir/st-glyph-wide-support-20220411-ef05519.diff"
curl -fsSL \
	https://st.suckless.org/patches/glyph_wide_support/st-glyph-wide-support-20220411-ef05519.diff \
	-o "$glyph_patch"
echo "8429911491c6adac876af0b9a5aa0c42d93c71977fd712f0fa40a6a748c12567  $glyph_patch" \
	| sha256sum -c -
patch -d "$build_dir/st" -p1 < "$glyph_patch"

patch -d "$build_dir/st" -p1 <<'PATCH'
diff --git a/config.def.h b/config.def.h
index 40b7d93..02e6079 100644
--- a/config.def.h
+++ b/config.def.h
@@ -5,7 +5,7 @@
  *
  * font: see http://freedesktop.org/software/fontconfig/fontconfig-user.html
  */
-static char *font = "Liberation Mono:pixelsize=12:antialias=true:autohint=true";
+static char *font = "Iosevka Nerd Font:size=14:antialias=true:autohint=true";
 static int borderpx = 2;
 
 /*

PATCH

sed -i '/XK_Home,        zoomreset/a\
\	{ ControlMask,          XK_equal,       zoom,           {.f = +1} },\
\	{ ControlMask,          XK_plus,        zoom,           {.f = +1} },\
\	{ ControlMask,          XK_minus,       zoom,           {.f = -1} },\
\	{ ControlMask,          XK_0,           zoomreset,      {.f =  0} },' "$build_dir/st/config.def.h"

sed -i '/#define TERMMOD/a#define SCROLLSTEP 5' "$build_dir/st/config.def.h"
sed -i '/XK_Page_Up/s/{.i = -1}/{.i = +SCROLLSTEP}/' "$build_dir/st/config.def.h"
sed -i '/XK_Page_Down/s/{.i = -1}/{.i = +SCROLLSTEP}/' "$build_dir/st/config.def.h"

sed -i 's/"black", \/\* default background colour \*\//"'"#181818"'", \/\* default background colour \*\//' "$build_dir/st/config.def.h"

cp "$build_dir/st/config.def.h" "$build_dir/st/config.h"
make -C "$build_dir/st" clean install PREFIX="{{ .chezmoi.homeDir }}/.local"
